Package: com.168168o.virtualcam
Name: Virtual Camera Support
Depends: mobilesubstrate, preferenceloader
Version: 1.0.0
Architecture: iphoneos-arm64
Description: Transparent virtual camera support for iOS
Maintainer: 168168-O
Author: 168168-O
Section: Multimedia
